.error {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 230px;
   font-size: 53px;
   font-family:"Roboto","Helvetica","Arial",sans-serif;
   gap: 12px;
   color: #1d60e0;
}
.img{
   height: auto;
   max-width: 90%;
}
.span{
   font-family: 'Indie Flower', cursive;
}